footer {
    margin-top: 30px;
}

.main-form {
    padding-top: 20px;
}

.content {
    margin-top: 30px;
    min-height: 100vh;
}

footer {
    top: 100vh;
    margin-top: 30px;
    margin-bottom: 30px;
}