<footer class='pt-4 pt-md-5 border-top'>
    <div class='container'>
        <div class='row'>
            <div class="col">
                <small class='d-block mb-3 text-muted'>&copy; <span id='copyright_year'></span></small>
            </div>
            <div class='col'>
                <p class='text-muted'>A project in Advanced Natural Language Processing (MTH020).</p>
                <p class='text-muted'>Project repository <a href='https://github.com/trhgquan/sbert-sentence-similarity'>on GitHub</a></p>
            </div>
            <div class='col'>
                <p class='text-muted'>VNUHCM - University of Science, Summer 2022</p>
            </div>
        </div>
    </div>
</footer>
<script type='text/javascript'>
    let currentYear = new Date().getFullYear();
    document.getElementById('copyright_year').innerText = currentYear;
</script>