<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentence Similarity with SBERT</title>

</head>
<body>
    <h1>Sentence Similarity with SBERT</h1>
    <p>A project in Advanced Natural Language Processing - MTH020</p>
    <a href="https://github.com/trhgquan/sbert-sentence-similarity">Project repository on GitHub</a>

    <form action="#">
        <label for="source_sentence">Source sentence</label>
        <input type="text" name="source_sentence" id="source_sentence" placeholder="Source sentence">

        <label for="list_sentences">List of sentences (separated by endline)</label>
        <textarea name="list_sentences" id="list_sentences" cols="30" rows="10"></textarea>

        <button>Score</button>
    </form>
    
    
    <!-- Always place javascripts before ending body -->
    
</body>
</html>